<h1> {{ title }} </h1>

<div class="code-preview">
  <h2>Generated code: </h2>
  
  <ngx-codemirror
    [(ngModel)]="generatedCode" 
    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'markdown'
    }"
  ></ngx-codemirror>
</div>

<div class="rx-container">
  <h2>You have an observable and you want to?</h2>

  <ng-container *ngFor="let group of groups">
    <div class="rx-group">
      {{ labels.group[group.id] }}
    </div>  

    <ng-container *ngFor="let option of group.options">
      <div *ngIf="option.type === 'text'" class="rx-option" [ngClass]="{ 'selected': group.selectedOption === option.id }" (click)="selectGroup(group, option.id)">
        {{ option.id }}
      </div>

      <div *ngIf="option.type === 'input'" class="rx-option" [ngClass]="{ 'selected': group.selectedOption === option.id }" (click)="selectGroup(group, option)">
        <input type="text">
      </div>
    </ng-container>
  </ng-container>  
</div>
