
.rx-container {
    width: 60%;
    float: right;
    padding-right: 30px;
    box-sizing: border-box;
}

.code-preview {
    width: 40%;
    float: right;
}

.rx-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #77818A;
    font-size: 13px;
    background-color: #CEE2F6;
    cursor: pointer;
    color: #77818A;
}
.rx-option i,
.rx-option span{
    margin: 3px 0;
}

.rx-option:hover {
    border: 1px solid #3e4246;
}
.rx-option.selected {
    cursor: default;
    background-color: #FDAAB0;
}

.rx-group {
    font-size: 1.5em;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 10px;
    text-transform: capitalize;
    background-color: blueviolet;
}

h2 {
    text-align: left;
}


