
<header>

    <div class="main-title fll">
        <span class="logo"><img src="../favicon.ico" alt="logo"></span>
        <span class="main-title-text"> {{ title }} </span>
    </div>

    <div class="social-box flr mb-14">
        <div class="social-nav">
            <a class="github-button"
               href="https://github.com/styopdev/rxbuilder"
               data-size="large"
               data-show-count="true"
               aria-label="Star styopdev/rxbuilder on GitHub">Star</a>

            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet"
               data-size="large"
               data-text="Generate your folder's tree based on uploaded zip or github repository"
               data-url="http://rxbuilder.cc/"
               data-hashtags="rxjs, rxbuilder, rxoperator, observable"
               data-via="twitterdev"
               data-related="twitterapi,twitter">
            </a>
        </div>
    </div>
</header>

<div class="wrapper">

    <div class="content">


    <div class="code-preview">
        <h2 class="main-caption mb-15">Generated code: </h2>

        <ngx-codemirror
                [(ngModel)]="generatedCode"
                [options]="{
      lineNumbers: true,
      theme: 'base16-light',
      mode: 'javascript'
    }"
        ></ngx-codemirror>
    </div>

    <div class="rx-container">
        <h2 class="main-caption mb-15">You have an observable and you want to?</h2>

        <ng-container *ngFor="let group of groups">
            <div class="mb-15">
                <div class="rx-group-title">
                    <span class="tooltip">
                        {{ labels.group[group.id] }}
                         <span class="tooltiptext">Tooltip text</span>
                    </span>

                </div>
            </div>

            <div class="rx-group-options mb-15 opt-{{group.options.length}}">

                <ng-container *ngFor="let option of group.options">

                    <div *ngIf="option.type === 'text'" class="rx-option" [ngClass]="{ 'selected': group.selectedOption === option.id }" (click)="selectGroup(group, option.id)">
                        {{ option.id }}
                    </div>

                    <div *ngIf="option.type === 'input'" class="rx-option" [ngClass]="{ 'selected': group.selectedOption === option.id }" (click)="selectGroup(group, option)">
                        <input type="text">
                    </div>

                </ng-container>
            </div><!--.rx-group-options-->

        </ng-container>
    </div>

    </div><!--.content-->

</div><!--.wrapper-->

