@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";



.rx-page {
    text-align: center;
}

.rx-option {
    display: inline-block;
    margin-right: 50px;
    box-sizing: border-box;
    font-weight: 500;
    width: auto;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 15px;
    min-width: 120px;
    background-color: purple;
    cursor: pointer;
    color: #ffffff;
}

.rx-option.selected {
    cursor: default;
    background-color: red;
}

.rx-group {
    font-size: 1.5em;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 10px;
    text-transform: capitalize;
    background-color: blueviolet;
}
